#image-to-webp-progress {
    margin-top: 20px;
}

#progress-bar {
    width: 100%;
    background: #ccc;
}

#progress-bar-inner {
    width: 0%;
    background: #4caf50;
    text-align: center;
    color: white;
}

#progress-messages {
    margin-top: 10px;
}
